<% if(isAuthenticated) { %>

<form class="card_actions" action="/cart" method="post">
    <button  class="custom_button button">Add To Cart</button>
    <input type="text" value="<%= product._id %>" hidden="hidden" name="id">
</form>
<% } %>
