body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgba(240, 255, 255, 0.58);
}
main{
    padding: 1rem;
}
.main_header {
    width: 100%;
    height: 3.5rem;
    background-color: #1bb31b;
    padding: 0 1.5rem;

}
.main_header_nav{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 4em;
    justify-content: space-between;
    align-items: center;
}
.main_header_item-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.main_header_item{
    margin: 0 1rem;
    padding: 0;
}
.main_header_item a{
    text-decoration: none;
    color: white;
}
.main_header_item a:hover,
.main_header_item a:active,
.main_header_item a.active{
    color: #85ff85;
}
.grid {
    display: flex;
    overflow-x: auto;
    flex-wrap: wrap;
}
.card {
    display: inline-block;
    max-width: 26%;
    height: 30rem;
    box-shadow: 2px 2px rgba(133, 255, 133, 0.71);
    border: 2px #85ff85 solid;
    padding: 1rem;
    border-radius: 10px;
    align-content: center;
}
.card__image img {
    position: relative;
    width: 90%;
    max-height: 40%;
    margin: auto;
    display: flex;
    border-radius: 10px;
}
.product-item{
    text-align: center;
    margin: 1rem 3rem;
}

.user-message {
    margin: auto;
    width: 45%;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #85fbff;
    background-color: #bdfaff;
    text-align: center;
}


.user-message {

    border: 1px solid rgba(229, 21, 30, 0.75);
    background-color: rgba(255, 137, 143, 0.78);
    text-align: center;
}
