
.product-form {
    width: 30rem;
    max-width: 90%;
    padding: 3rem;
    margin: auto;
    /*border-bottom: 3px solid #1bb31b;*/
    box-shadow: 2px 2px rgba(133, 255, 133, 0.71);
    border: 2px #85ff85 solid;
    border-radius: 10px;
}
.form-content label,
.form-content input,
.form-content textarea{
    margin-top: 1rem;
    display: block;
    width: 90%;
}
.form-content label
{
    font-family: "Abyssinica SIL";
    color: #1bb31b;
}
.form-content input,
.form-content textarea
{
    border: 1px solid #1bb31b;
    border-radius: 10px;
    margin-top: 5px;
    font: inherit;
    padding: 1rem;
}

.custom_button{
    font: inherit;
    border: 1px solid #ffffff;
    background-color: #85ff85;
    border-radius: 10px;
    margin-top: 1rem;
    color: white;
    padding: 1rem;
    cursor: pointer;

}


.custom_button:hover,
.custom_button:active{
    background-color: white;
    color: #85ff85;
    border: 1px solid #85ff85;
}


.card_actions {
    display: inline-block;
}

.full-view {
    padding: 2px;
    min-width: 80%;
    height: 30rem;
}


.full-view .card__header {
    height: 1rem;
}

.full-view .card__image img {
    height: 18rem;
}
.full-view .card__content {
    height: 8rem;
}

.full-view .product__title {
    float: left;
    margin-left: 4rem;
}

.single_product_action {
    font: inherit;
    border: 1px solid #ffffff;
    background-color: #85ff85;
    border-radius: 50px;
    color: white;
    padding: 1rem;
    cursor: pointer;
    float: right;
    margin: 1rem;
}
.single_product_action:hover {
    background-color: white;
    color: #ff0000;

}

.card__image img{
    height: 50%;
}
.card__header {
    height: 9%;
}
.card__actions{

    float: left;
    margin-left: 2.5rem;
    bottom: 0;
    left: 0;
    height: 9%;
}

.delete{
    background-color: red;
}
.delete:hover{
    background-color: white;
    color: red;
    border-color: red;
}
.card__content{
    height: 18%;
}

.right_side {
    float: right;
}

.cart-item {
    border: 1px solid #1bb31b;
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem auto;
    display: flex;
    align-content: center;
    min-width: 80%;
    position: relative;
}

.cart-operations {
    margin: auto;
    align-content: center;

}

.cart-delete {
    position: absolute;
    right: 10px;

}
